In [2]:
import numpy as np
import pandas as pd

In [3]:
path = r"C:\Users\dipesh\Desktop\diabetes.csv"

df = pd.read_csv(path)
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
x = df[["Pregnancies","Glucose","BMI","Age"]]
y = df["Outcome"]

In [6]:
x.head(10)

   Pregnancies  Glucose   BMI  Age
0            6      148  33.6   50
1            1       85  26.6   31
2            8      183  23.3   32
3            1       89  28.1   21
4            0      137  43.1   33
5            5      116  25.6   30
6            3       78  31.0   26
7           10      115  35.3   29
8            2      197  30.5   53
9            8      125   0.0   54

In [7]:
y.head(10)

0    1
1    0
2    1
3    0
4    1
5    0
6    1
7    0
8    1
9    1
Name: Outcome, dtype: int64

In [8]:
# Data splitting

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

In [9]:
x_train

     Pregnancies  Glucose   BMI  Age
414            0      138  34.6   21
248            9      124  35.4   34
71             5      139  28.6   26
357           13      129  39.9   44
449            0      120  30.5   26
..           ...      ...   ...  ...
26             7      147  39.4   43
473            7      136  29.9   50
8              2      197  30.5   53
400            4       95  32.0   31
489            8      194  26.1   67

[537 rows x 4 columns]

In [10]:
x_test

     Pregnancies  Glucose   BMI  Age
184            4      141  27.6   40
181            0      119  34.9   23
406            4      115  28.9   46
467            0       97  36.8   25
182            1        0  27.7   21
..           ...      ...   ...  ...
303            5      115  52.9   28
115            4      146  31.2   61
674            8       91  35.6   68
87             2      100  38.5   26
274           13      106  34.2   52

[231 rows x 4 columns]

In [11]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [12]:
x_test

     Pregnancies  Glucose   BMI  Age
184            4      141  27.6   40
181            0      119  34.9   23
406            4      115  28.9   46
467            0       97  36.8   25
182            1        0  27.7   21
..           ...      ...   ...  ...
303            5      115  52.9   28
115            4      146  31.2   61
674            8       91  35.6   68
87             2      100  38.5   26
274           13      106  34.2   52

[231 rows x 4 columns]

In [13]:
y_test

184    0
181    0
406    1
467    0
182    0
      ..
303    1
115    1
674    0
87     0
274    0
Name: Outcome, Length: 231, dtype: int64

In [14]:
i = model.predict_proba([[4,141,27.6,40]])
print(i)

[[0.61415724 0.38584276]]

In [15]:
i = model.predict([[4,141,27.6,40]])
print(i)

[0]

In [16]:
i = model.predict_proba([[13,106,34.2,52]])
print(i)

[[0.51079688 0.48920312]]

In [17]:
accuracy = model.score(x_test,y_test)
print(accuracy)

0.7359307359307359